.wrapper {
    height: 70vh;
    overflow: auto;
}

.subHeader {
    background: linear-gradient(90deg, rgba(73, 154, 245, 1) 15%, rgba(195, 219, 241, 0.804359243697479) 70%);
    padding: 5px 0 10px 10px;
    color: #efddf4;
    font-style: italic;

    position: sticky;
    top: 0;
}

.backToUsersButton {
    margin: 15px;
    padding: 0.5rem 1rem;
    appearance: none;
    border: 0;
    border-radius: 5px;

    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;

    background: #3a92f6;
    transition: 1.2s;
}
.backToUsersButton:hover {
    cursor: pointer;
    background: #0a76f8;
    transition: 1.2s;
}
.backToUsersButton:focus {
    outline: 1px #013b98;
}
