
.wrapper{
    margin: 15px;
    display: flex;
    justify-content: space-around;
    border: 5px solid aqua;
    border-radius: 33px 33px 0 33px;
    height: 200px;
    width: 40vw;
    transition: 75ms;
}
.wrapper:hover{
    transform: scale(1.05);
    transition:1s;
}
.userInfo{
    margin-left: 10px;
    width: 50%;

}
.box{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 2px solid aqua;
}
.username{
    text-align: center;
}
button:hover{
cursor: pointer;
    border-radius: 10px;
}
