
.flex_wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;
}

.info {
    width: 50%;
}

.carousel {
    width: 150px;
    height: 100px;
}
.img{
    height: 100px;
    width: 150px;
}

