.footer {
    height: 20vh;
    padding: 1vh 2vw;
    background: linear-gradient(180deg, rgba(36,37,38,1) 0%, rgba(119,118,120,1) 70%)
}
.footer h3 {
    height: 20%;
    margin: 2vh;
    color: beige;
    font-style: italic;
}