.singleUser_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    width: calc(100% / 3 - 2rem);
    height: 21%;
    border: 3px solid cadetblue;
    border-radius: 15px;
    box-sizing: border-box;

    transition: 1.5s;
}

.singleUser_box:hover {
    transition: 1.5s;
    background-color: cadetblue;
    cursor: pointer;
}

.singleUser_box p {
    margin: 0;
}

.singleUser_box p:nth-child(1) {
    font-size: 1.5em;
    font-weight: 700;
    font-style: italic;
}



